.nav{
    display: flex;

}
.nav li{
    list-style: none;
    padding: 5px 10px;
    
}
.nav li a{
    text-decoration: none;
    color: rgb(30, 7, 7);
    padding: 12px 23px;
    border: 2px solid black;
    border-radius: 5px;
}
.nav li :hover{
    background-color: rgb(204, 178, 178);
    
    
}
.second_nav{
    background-color: brown;
    margin-top: 12px;
    padding-bottom: 20px;
    display:none;
}
li:hover{
    display: block;
}
